@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

body{
    color: #FFFFFF;
    background-color: #191919;
    font-family: Space Grotesk;
    padding: 0; 
    margin: 0;
}

main{
    background-color: #78F7E8;
    color: #191919;
    border-radius: 20px 20px 0px 0px;
    margin-top: 64px;
}

article{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    margin-top: 24px;
}
h1{
    color: #FFFFFF;
    font-family: Space Mono;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin: 16px;
}

h2{
    font-family: Space Mono;
    font-size: 32px;
    font-weight: 400;
    line-height: 46px; 
    padding-top: 40px;
    margin-left: 16px;
}

h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 40px;
}

h4{
    color: #191919;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
    background-color: #78F7E8;
    border-radius: 10px;
    padding: 16px;
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 88px;
}

h5{
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    margin-right: 16px;
    margin-top: 24px;
    margin-bottom: 0;
}

blockquote{
    font-family: Space Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 32px;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 16px;
    margin-bottom: 0;
}

.modernism-rotate{
    transform: rotate(-90deg);
    margin-left: 310px;
    margin-top: 300px;
    margin-bottom: 64px;
}
