@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

/* colour variables */
:root {
    --color-1:#1D1D1D;
    --color-2: #F9F9F9;
    --color-3: #78F7E8;
}
