@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

/* colour variables */
:root {
    --colour-1:#1D1D1D;
    --colour-2:#F9F9F9;
    --colour-3:#78F7E8;
}

/* text variables */
:root {
    --h1: 40px;
    --h1-line-height: 46px;
    --h2: 32px;
    --h2-line-height: 40px;
    --h3: 28px;
    --h3-line-height: 36px;
    --h4: 24px;
    --h4-line-height: 32px;
    --h5: 20px;
    --h5-line-height: 30px;
    --h6: 20px;
    --h6-line-height: 30px;
    --blockquote: 18px;
    --blockquote-line-height: 26px;
    --p: 18px;
    --p-line-height: 26px;
    --a: 20px;
    --a-line-height: 20px;
}

/* text styling */
h1{
    font-family: Space Mono;
    color: var(--colour-1);
    font-weight: 700;
    font-size: var(--h1);
    line-height: var(--h1-line-height);
    margin: 0px;
}
h2{
    font-family: Space Mono;
    color: var(--colour-2);
    font-weight: 400;
    font-size: var(--h2);
    line-height: var(--h2-line-height);
    margin: 0px;
}
h3{
    font-family: Space Grotesk;
    color: var(--colour-1);
    font-weight: 700;
    font-size: var(--h3);
    line-height: var(--h3-line-height);
    margin: 0px;
}
h4{
    font-family: Space Grotesk;
    color: var(--colour-1);
    font-weight: 500;
    font-size: var(--h4);
    line-height: var(--h4-line-height);
    margin: 0px;
}
h5{
    font-family: Space Grotesk;
    color: var(--colour-1);
    font-weight: 400;
    font-size: var(--h5);
    line-height: var(--h5-line-height);
    background-color: var(--colour-3);
    padding: 16px;
    border-radius: 10px;
    max-width: 100vw;
    margin: 0px;
}
h6{
    font-family: Space Mono;
    color: var(--colour-1);
    font-weight: 400;
    font-size: var(--h6);
    line-height: var(--h6-line-height);
    margin: 0px;
}
blockquote{
    font-family: Space Mono;
    color: var(--colour-1);
    font-weight: 400;
    font-size: var(--blockquote);
    line-height: var(--blockquote-line-height);
    margin: 0px;
}
p{
    font-family: Space Grotesk;
    color: var(--colour-2);
    font-weight: 300;
    font-size: var(--p);
    line-height: var(--p-line-height);
    margin: 0px;
}
a{
    font-family: Space Mono;
    color: var(--colour-1);
    font-weight: 400;
    font-size: var(--a);
    line-height: var(--a-line-height);
    text-decoration: none;
}
.white-text{
    color: var(--colour-2);
}
.right-allign{
    text-align: right;
}

/* Layout Styling */
body{
    /* margin: 20px; */
    background-color: var(--white);
}
main{
    display: grid;
    background-color: var(--colour-1);
    border-radius: 20px 20px 0px 0px;
    width: 100vw;
    margin-bottom: 0px;
}

/* nav styling */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

/* menu button styling */
.button{
    border-radius: 10px;
    border: 1px solid;
    color: var(--black);
    background-color: var(--white);
    padding: 12px;
    text-align: center;
}
.button:hover{
    background-color: var(--accent);
}
.button-styling{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100vw;
}

/* back to top button styling */
.top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* footer styling */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background-color: var(--colour-1);
}

/* tablet media query */
@media (min-width: 720px) {
    /* text sizes */
    :root {
        --h1: 80px;
        --h1-line-height: 92px;
        --h2: 48px;
        --h2-line-height: 52px;
        --h3: 28px;
        --h3-line-height: 36px;
        --h4: 32px;
        --h4-line-height: 36px;
        --h5: 24px;
        --h5-line-height: 32px;
        --h6: 24px;
        --h6-line-height: 32px;
        --blockquote: 20px;
        --blockquote-line-height: 30px;
        --p: 20px;
        --p-line-height: 28px;
        --a: 24px;
        --a-line-height: 32px;
	}
    h5{
        max-width: 50vw;
    }
    p{
        max-width: 60vw;
    }
}

/* desktop media query */
@media (min-width: 1280px) {
    /* text sizes */
    :root {
        --h1: 120px;
        --h1-line-height: 132px;
        --h2: 64px;
        --h2-line-height: 72px;
        --h3: 28px;
        --h3-line-height: 36px;
        --h4: 32px;
        --h4-line-height: 36px;
        --h5: 24px;
        --h5-line-height: 32px;
        --h6: 24px;
        --h6-line-height: 32px;
        --blockquote: 20px;
        --blockquote-line-height: 30px;
        --p: 20px;
        --p-line-height: 28px;
        --a: 24px;
        --a-line-height: 32px;
	}
    h5{
        max-width: 35vw;
    }
    p{
        max-width: 50vw;
    }
}